.oneStream {
  width: 70%
}

.chat {
  position: absolute;
  width: 100%;
  height: 100%;
}

#chat_embed {
  border: 0;
}

#navCol {
  position: absolute;
  left: 0;
  width: 215px;
  height: 100%;
}

.contentContainerTransitions  {
  transition: margin-left .3s ease-in-out, margin-right .3s ease-in-out;
}

.chatContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  padding: 0;
}
.showBox {
  margin-right: 320px;
  /*transition: margin-right .3s;*/
}
.hideBox {
  margin-right: 0px;
  /*transition: margin-right .3s;*/
}

.channelLink {
  width: 150px;
  height: 175px;
  text-align: left;
  list-style: none;
  margin-top: 10px;
  display: inline-block;
}

.channelList{
  display: inline-block;
}

.channelUL {
  list-style: none;
  text-align: center;
  display:inline-block;
}

.channelListItem{
  display:inline-block;
}

.historyChannelLogo {
  width: 100px;
  color: black;
  border: 1px black solid;
}

.historyChannelName {
  font-size: 12px;
  color: black;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.historyGameName {
  font-size: 12px;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}
